@using Microsoft.AspNetCore.Http;
@using Presentation_MVC.Controllers;
@using Presentation_MVC.Models.Posting
@model PostViewModel
@{
    ViewData["Title"] = Model.Name;
    var sessionI = SessionExtensions.GetInt32(Context.Session, "ID");
}

<div class="container">
    <div class="postHead">
        <div class="row">
            <h1 class="col-6">@Model.Name</h1>
            <h1 class="col-6" style="text-align: right;">@Model.Category.Name</h1>
        </div>
        <p>by <a>@Model.Owner.Username</a> @Model.CreationDate</p>
    </div>


    @foreach (PostAttributeViewModel attribute in Model.AttributesWithValue)
    {
        <h2>@(attribute.Name)</h2>
        <p>@(attribute.Value)</p>
    }

    @if (AccountController.ValidateCurrentSession(Context) &&
            Context.Session.GetInt32("ID") == Model.Owner.ID)
    {
        <div class="row">
            <button class="col-6">
                <a asp-action="Edit" asp-controller="Post" asp-route-postId="@Model.ID">Edit</a>
            </button>
            <button class="col-6">
                <a asp-action="Delete" asp-controller="Post" asp-route-postId="@Model.ID">Delete</a>
            </button>
        </div>
    }
    <h2>Comments</h2>
    <form method="post" asp-action="Comment" asp-controller="Post">
        @if (AccountController.ValidateCurrentSession(Context))
        {
            <textarea name="text" style="width: 95%; height: 120%"></textarea>
            <input type="hidden" name="postId" value="@Model.ID" />
            <button type="submit">Send</button>
        }
        else
        {
            <textarea name="text" style="width: 95%; height: 120%; background-color:lightgray;" disabled></textarea>
            <input type="hidden" name="postId" value="@Model.ID" /> <br />
            <a asp-action="Login" asp-controller="Account">Login</a> <label> to comment on this post...</label>
        }
    </form>

    <br />
    <div id="" style="overflow: scroll; height: 400px; box-shadow: inset 0px 12px 13px -9px rgba(0,0,0,0.86);">

        @foreach (CommentViewModel comment in Model.Comments)
        {
            <div class="comment">
                <a>@comment.Owner.Username</a>
                <p>@comment.CreationDate.ToString()</p>
                <p>@comment.Text</p>
            </div>
                if (AccountController.ValidateCurrentSession(Context) &&
                    Context.Session.GetInt32("ID") == comment.Owner.ID)
                {
                <div class="row">
                    <button class="col-6" style="width: 30%">Bewerken</button>

                    <button class="col-6" style="width: 30%">Verwijderen</button>
                </div>
                }
            <br />
        }
    </div>
</div>

